**/*.checkstyle
**/*.swo
**/*.swp
**/logs
**/target
*.class
*.iml
*.ipr
*.iws
*.mp4
*.pyc
*.swp
*.xmi
*~
*.ensime
.DS_STORE
.NERDTreeBookmarksFile
.classpath
.externalToolBuilders
.helper
.idea
.metadata
.project
.settings
.zsh*
Evaluations
GPATH
GRTAGS
GTAGS
MANIFEST.MF
bin/
classes
dist
eclimd.log
maven-eclipse.xml
out/
products
repository
target
target-ide
utils/JavaGoto
utils/data
workspace
xtend-gen
yang-gen-*
yang-gen-code
yang-gen-config
yang-gen-sal
